<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>New User</title>
</head>
<body>
<div>
    <h2>Creation of new User</h2>
    <br>
    <br>
    <form method="post" th:action="@{/admin/newUser}" th:object="${user}">
        <label for="Логин">Username </label>
        <input type="text" th:field="*{username}" id="Логин"/>
        <br>
        <br>
        <label for="Пароль">Password </label>
        <input type="text" th:field="*{password}" id="Пароль"/>
        <br>
        <br>
        <label for="Имя">Name </label>
        <input type="text" th:field="*{name}" id="Имя"/>
        <br>
        <br>
        <label for="Фамилия">Surname </label>
        <input type="text" th:field="*{lastName}" id="Фамилия"/>
        <br>
        <br>
        <label for="Возраст">Age </label>
        <input type="text" th:field="*{age}" id="Возраст"/>
        <br>
        <br>
        <label for="Roles" th:each="role:${AllRoles}">Roles:
            <input type="checkbox" id="Roles" th:field="*{roles}"
                   th:text="${role.name}"   th:value="${role.name}" class="m-2"/>
        </label>
        <br>
        <input type="submit" value="Create new user" class="bth btn-primary"/>
    </form>
</div>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>